
.raleway {
  font-optical-sizing: auto;
  font-style: normal;
}
/*header section*/
.header {
   background-image: url(asets/Hero-bg.png);
}
/*nav section*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 50px;
  padding-bottom: 50px;

}
nav h1 {
  color:#4E47FF ;
  font: bolder;


}
.btn {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
 
  
}
.btn:hover {
  background-color: #3a3a8c;
}
/*hero section*/
.hero {
  text-align: center;
  padding: 158px 0;
  color: black;
  margin-bottom: 200px;
}
.hero h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}
