
.raleway {
  font-optical-sizing: auto;
  font-style: normal;
}
/*header section*/
.header {
   background-image: url(asets/Hero-bg.png);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;

}
nav h1 {
  color:#4E47FF ;
  font: bolder;

}
.btn  {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
}
