
.raleway {
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}
/*header section*/
.header {
   background-image: url(asets/Hero-bg.png);
}
/*nav section*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 50px;

}
nav h1 {
  color:#4E47FF ;
  font: bolder;
  font-size: 34px;


}
.btn {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
 
  
}
.btn:hover {
  background-color: #3a3a8c;
}
/*hero section*/
.hero {
  text-align: center;
  padding: 158px 0;
  color: black;
  margin-bottom: 200px;
}
.hero h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}
/*features section */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin-bottom:100px;
}
.features-img{
  width: 403px;
  height: 328px;
  border-radius: 50px;
  border: none;
}
.features-item h2 {
  font: bold;
  font-size: 42px;
  
}
.features-item p {
  font-size: 24px;
  color: rgb(37, 36, 50, 0.5);
 
}
/*2nd section*/
.features-2{
  background-color: #b2b0ee98;
  border-radius: 40px;
  margin: 0 10%;
  padding: 50px 80px 50px 80px;
}
.features-2-heding{
  text-align: center;
  font: bold;
  font-size: 38px;
}
.features-2-item{
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;

}
.features-2-item-1 h2{
  font: bold;
  font-size: 60px;
  padding-bottom: 0%;
  margin: 0%;
  color: #4E47FF;
}
.features-2-item-1 p{
  font-size: 24px;
  color: rgb(37, 36, 50, 0.5);
  padding: 0%;
  margin: 0%;
}
/*section-3*/
.features-3{
margin-left: 5%;
margin-right: 5%;
}
.features-3-main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.features-3-heading{
  text-align: center;
  font: bold;
  font-size: 42px;
}
.features-3-contaner{
  border: gainsboro solid;
  border-radius: 15px;
  padding: 10px 10px;
  margin: auto;
}
.features-3-contaner-item{
  padding: 24px,0;
}
.reviewer{
  display: flex;
  gap: 20px;
}
.avter{
  border-radius:100%;
}
.reviewer-1{
  color: #757575;
 
}